.container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3%;
}

.description {
    padding: 15% 5% 5% 5%;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    text-align: center;
}